@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

body {
    font-family: 'Pixelify Sans', sans-serif;
}


section {
    padding-top: 100px;
    padding-left: 500px;
    padding-right: 500px;
}

.hero {
    display: flex;
}

.hero-content {
    display: flex;
    align-items: center;
    gap: 90px;
}

.text {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.name {
    font-size: 40px;
    font-weight: 700;
    color: rgb(236, 44, 44);
}

.subtitle {
    color: rgb(47, 46, 46);
    font-size: 20px;
    opacity: 0.8;
}

strong {
    color: rgb(236, 44, 44);
}

h1 {
    font-size: 40px;
}

a {
    color: rgb(236, 44, 44);
    text-decoration: none;
    font-size: 20px;
}

footer {
    text-align: center;
    padding: 10px;
}


.timeline {
    border-left: 3px solid rgb(236, 44, 44);
    padding-left: 15px;
}

.item {
    margin-bottom: 25px;
}

.year {
    color: rgb(236, 44, 44);
    font-weight: 600;
}

.pfp {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}


@media screen and (max-width: 800px) {

    section {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 60px;
    }

    .hero {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .hero-content {
        flex-direction: column;
        gap: 20px;
    }

    .text {
        text-align: center;
    }

    h1 {
        font-size: 28px;
    }

    .name {
        font-size: 32px;
    }

    .subtitle {
        font-size: 16px;
    }

    .pfp {
        width: 90px;
        height: 90px;
    }
}
